@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.h1 {
		@apply mb-4 text-2xl font-semibold text-text-primary-light dark:text-gray-300;
	}

	.h2 {
		@apply mb-4 text-xl font-semibold text-text-primary-light dark:text-gray-300;
	}

	.h3 {
		@apply mb-2 text-lg font-semibold text-text-primary-light dark:text-text-primary-dark;
	}

	.modal-pane {
		@apply rounded-lg border-border-custom-light bg-nav-bg-light/90 px-4 shadow-lg dark:border-border-custom-dark dark:bg-nav-bg-dark dark:text-text-primary-dark dark:shadow-lg dark:shadow-gray-200/10;
	}

	.tab-container {
		@apply flex border-b border-border-custom-light dark:border-border-custom-dark;
	}

	.tab-container__item {
		@apply -mb-px px-4 py-2 font-semibold text-gray-500 dark:text-gray-400;
	}

	.tab-container__item--active {
		@apply border-b-2 border-brand-secondary text-brand-secondary;
	}

	.button {
		
		@apply rounded-md bg-nav-bg-light px-3 py-2 text-sm font-semibold text-text-primary-light shadow-sm ring-1 ring-inset ring-border-custom-light hover:bg-gray-50 dark:bg-nav-bg-dark dark:text-text-primary-dark dark:ring-border-custom-dark dark:hover:bg-gray-800;
	
	}

	.button--primary {
		@apply rounded-md bg-brand-secondary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-brand focus-visible:outline focus-visible: outline-2 focus-visible: outline-offset-2 focus-visible:outline-brand;
	}

	.rtl {
		@apply flex-row-reverse text-right;
		direction: rtl;
	}

	.rtl .rotate-rtl {
		transform: rotate(180deg);
	}

	.rtl .ml-3 {
		margin-right: 0.75rem;
	}

	.rtl .mr-3 {
		margin-left: 0.75rem;
	}

	.rtl .space-x-4 {
		margin-left: 1rem;
	}

	.rtl .space-x-reverse {
		margin-right: 1rem;
	}

	.rtl .border-l-4 {
		border-left-width: 0;
		border-right-width:  4px;
	}

	.rtl .left-5 {
		left: auto;
		right: 1.25rem;
	}
}