.leaflet-touch {
	.leaflet-bar {
		.leaflet-control-zoom-in,
		.leaflet-control-zoom-out {
			width: 2.2rem;
			height: 40px;
			margin: 1.6px;
			padding: 0px;
			z-index: 5;
		}

		.leaflet-control-zoom-out span .leaflet-control-zoom-in span {
			width: 2.2rem;
			height: 2.2rem;
			background-repeat: no-repeat;
			align-items: center;
		}
	}

	.leaflet-control-attribution {
		display: none;
	}
}

.leaflet-control {
	background-color: #fff;
}

.dark .leaflet-popup-content-wrapper,
.dark .leaflet-popup-tip {
	background: #1f2937;
	color: #f3f4f6;
}
